  
{% extends "blog/base.html" %}
{% block content %}
{% load static %}
    <h1 ><a href="{% url 'blog-home' %}"><img src="{% static 'img/Tmachine.png' %}" /></a>
        Hey , Welcome to my blog site .Here You can post your views ideas and other relatable stuff.
        If you’re looking for short stories in Textual posts form, why not check out The Time Machine
        This site is firmly devoted to promote articles,thoughts,and contents that do not harm the harmony,social belief and agenda of any group.
        So enjoy and share your feedback.
        
        <br><br>Powered by :Nitin Gangwar</h1>
{% endblock content %}